.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.content {
	display:flex;
	align-items:center;
	justify-content: space-evenly;
}

.content-piece img {
	max-width: 50%;
}

.wallet-option-list {
	list-style: none;
}

.wallet-option-list li {
	margin: 1em;
}
.wallet-option {
	display: flex;
	align-items: center;
}
.wallet-branding {
	width: 2em;
	margin-right:0.5em
}

.content-info ul {
	list-style-type: none;
}

.content-info li {
	margin:2px;
}

.content-collection {
	flex-direction:row;
	flex-wrap:wrap	;
}
.content-collection-item {
	width: 30em;
	margin: 2em;
}
.content-collection-item img {
	max-width: 100%;
}